body {
	background-color: blue;
}

.container {
	width: 1200px;
	background-color: red;
	height: 1000px;
	margin: 0 auto;	
}

nav {
	height: 250px;
	width: 100%;
	background-color: green;
	text-align: center;
}

.left-pane {
	float: left; 
	height: 750px;
	width: 50%;
	background-color: yellow;
}

.right-pane {
	height: 750px;
	width: 50%;
	background-color: red;
	float: right;
}

i {
	font-size: 40px;
	margin: 40px;
	margin-top: 80px;
	color: white;
}

i:hover {
	color: orange;
}


